In [2]:
import pandas as pd

In [7]:
### Data setup

data_folder = "./data"
targeted_folder = data_folder + "/protested_voters_by_county"
full_roster_folder = data_folder + "/voter_roster"

# TODO: Add other counties

targeted_files_by_county = {"columbus": targeted_folder + "/columbus_incomplete.csv"}
full_roster_files_by_county = {"columbus": full_roster_folder + "/columbus.csv"}

columbus_targeted = pd.read_csv(targeted_files_by_county["columbus"], encoding='latin-1')
columbus_roster = pd.read_csv(full_roster_files_by_county["columbus"], encoding='latin-1')

In [10]:
columbus_targeted.head()

,county_name,county_id,voter_reg_num,ncid,first_name,middle_name,last_name,status_cd,registr_dt,voter_status_desc,voter_status_reason_desc,ballot_rtn_status,Unnamed: 12,Unnamed: 13
0,COLUMBUS,24,70609,BC60706,SHAWN,MICHAEL,AIKEN,A,7/18/2012,ACTIVE,VERIFIED,ACCEPTED,NaN,NaN
1,COLUMBUS,24,69127,BC59556,KRISTEN,MARIE,BURROUGHS,A,10/10/2011,ACTIVE,VERIFIED,ACCEPTED,NaN,NaN
2,COLUMBUS,24,74122,BC63462,SAMUEL,HARDING,BROOKBANK,A,9/12/2014,ACTIVE,VERIFIED,ACCEPTED,NaN,NaN
3,COLUMBUS,24,76365,BC65067,JANET,ROBINSON,ARMOND,A,3/3/2016,ACTIVE,VERIFIED,ACCEPTED,NaN,NaN
4,COLUMBUS,24,85390,BC71391,MEGAN,RUTH,CRIBB,A,12/17/2019,ACTIVE,VERIFIED,ACCEPTED,NaN,NaN

In [11]:
columbus_roster.head()

,county_id,county_desc,voter_reg_num,ncid,last_name,first_name,middle_name,name_suffix_lbl,status_cd,voter_status_desc,...,sanit_dist_desc,rescue_dist_abbrv,rescue_dist_desc,munic_dist_abbrv,munic_dist_desc,dist_1_abbrv,dist_1_desc,vtd_abbrv,vtd_desc,Protest Type
0,24,COLUMBUS,89512,BC74186,ABDEL AZIZ,AHMED,MALACHI,NaN,A,ACTIVE,...,NaN,KLRD,KLONDYKE-CHADBOURN RESCUE DISTRICT,NaN,NaN,15.0,PROSECUTORIAL DISTRICT 15,P15,P15,NaN
1,24,COLUMBUS,70704,BC60780,ABDELNABI,MAHMOUD,TALAAT,NaN,I,INACTIVE,...,NaN,WHRD,WHITEVILLE RESCUE DISTRICT,NaN,NaN,15.0,PROSECUTORIAL DISTRICT 15,P22,P22,NaN
2,24,COLUMBUS,70817,BC60868,ABDULLAH,KHALID,NaN,NaN,A,ACTIVE,...,NaN,WHRD,WHITEVILLE RESCUE DISTRICT,BR,BRUNSWICK,15.0,PROSECUTORIAL DISTRICT 15,P22,P22,NaN
3,24,COLUMBUS,70819,BC60870,ABDULLAH,NUR,MUHAMMAD,NaN,D,DENIED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,COLUMBUS,89574,BC74223,ABDULLAH,NUR,MUHMMAD,NaN,A,ACTIVE,...,NaN,WHRD,WHITEVILLE RESCUE DISTRICT,BR,BRUNSWICK,15.0,PROSECUTORIAL DISTRICT 15,P22,P22,NaN

In [12]:
columbus_matched = columbus_roster.merge(columbus_targeted, how = 'inner', on = ['ncid'])
columbus_matched.head()

,county_id_x,county_desc,voter_reg_num_x,ncid,last_name_x,first_name_x,middle_name_x,name_suffix_lbl,status_cd_x,voter_status_desc_x,...,first_name_y,middle_name_y,last_name_y,status_cd_y,registr_dt_y,voter_status_desc_y,voter_status_reason_desc_y,ballot_rtn_status,Unnamed: 12,Unnamed: 13
0,24,COLUMBUS,70609,BC60706,AIKEN,SHAWN,MICHAEL,NaN,A,ACTIVE,...,SHAWN,MICHAEL,AIKEN,A,7/18/2012,ACTIVE,VERIFIED,ACCEPTED,NaN,NaN
1,24,COLUMBUS,88391,BC73398,ALLEN-SIMPSON,AKEIA,MARIE,NaN,A,ACTIVE,...,AKEIA,MARIE,ALLEN-SIMPSON,I,10/9/2020,INACTIVE,CONFIRMATION,RETURNED,UNDELIVERABLE,ACCEPTED
2,24,COLUMBUS,76365,BC65067,ARMOND,JANET,ROBINSON,NaN,A,ACTIVE,...,JANET,ROBINSON,ARMOND,A,3/3/2016,ACTIVE,VERIFIED,ACCEPTED,NaN,NaN
3,24,COLUMBUS,99038,BC80353,ATOMQUSKY,TIMOTHY,NaN,NaN,A,ACTIVE,...,TIMOTHY,NaN,ATOMQUSKY,A,10/11/2024,ACTIVE,VERIFICATION,PENDING,ACCEPTED,NaN
4,24,COLUMBUS,88813,BC73689,BAINES,AMANDA,SYKES,NaN,A,ACTIVE,...,AMANDA,SYKES,BAINES,A,10/27/2020,INACTIVE,CONFIRMATION,NOT,RETURNED,ACCEPTED

In [14]:
columbus_targeted.shape[0] == columbus_matched.shape[0]

True

In [15]:
columbus_matched.to_csv("columbus_matched.csv")